/*
 * ADMIN STYLES
*/

.itwmp-settings .itwmp-message {
    margin: 20px 20px 20px 0;
    padding: 5px 10px 8px;
    border: solid 2px green;
    border-radius: 5px;
}
.itwmp-settings .itwmp-message.alert {
    border-color: yellow;
}
.itwmp-settings .itwmp-message.error {
    border-color: red;
}
.itwmp-settings h1 {
    margin-bottom: 35px;
}
.itwmp-settings .section {
    margin: 20px 20px 20px 0;
    padding: 20px;
    border: solid 1px #ccc;
    border-radius: 5px;
}
.itwmp-settings .section h2 {
    margin: 0 0 1em 0;
}
 
.itwmp-settings ul {
    list-style-type: disc;    
}
.itwmp-settings ul li {
    margin-left: 25px;
}

/* import section */
#itw_import_results.has_content {
    margin-top: 25px;
    border: solid 2px #2271b1;
    padding: 20px;
    border-radius: 5px;
}

/* warranty section */
.itwmp-settings .itwmp-warranty-field {
    width: 100%;
    max-width: 700px;
}
